{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <form method="post">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Kalkulator</legend>
        <label for="set_number">Enter set number:</label>
        <input type="text" id="set_number" name="input_value">
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        {% comment %} <input class="input-outline-info" type="number">
        </input> {% endcomment %}
        <button class="btn-outline-info" type="submit">Check</button>
      </div>
    </form>
  </div>
  {% for set in sets %}
    {% comment %} {% if set.avg_price|floatformat:"3" < set.brickprice|floatformat:"3"*3 %} {% endcomment %}
    {% comment %} {{ style }}="background-color:green"{% else %}{{ style }}="background-color:red" {% endif %} {% endcomment %}
    <article class="media content-section" style={{ style }}>
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url "set-detail" set.set_number %}">{{ set.set_number }}</a>
          <small class="text-muted">{{ set.date_posted|date:"F d, Y" }}</small>
        </div>
        <p class="article-content">Średnia cena: {{ set.avg_price }}</p>
        <p class="article-content">Średnia cena klocków: {{ set.brickprice }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
